<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CSS Loader</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
      #buttonDownload:link, #buttonDownload:visited {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        visibility: hidden;

}

    </style>



      <link rel="stylesheet" href="/static/assets/css/style.css">
        <script  src="/static/assets/js/scripts.js"></script>


</head>

<body>
  <div class="loader">
  <span class="loader-block"></span>
  <span class="loader-block"></span>
  <span class="loader-block"></span>
  <span class="loader-block"></span>
  <span class="loader-block"></span>
  <span class="loader-block"></span>
  <span class="loader-block"></span>
  <span class="loader-block"></span>
  <span class="loader-block"></span>
</div>
<br><br><br><br><br><br><br><br>
<div style="color:white;font-size: 400%; font-family:Courier New" id="message" > This is the message </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/getModel" class="button" id="buttonDownload">Download Model</a>

</body>

</html>
